table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #555;
}

tr:hover {
    background-color: #999;
}

.highlight {
    background-color: #ffcc00;
}

.secondary-btn {
   color: white;
   font-size: 16px;
   padding: 10px 20px;
   border: none;
   background-color: #555;
}

#message {
 font-weight: bold;
 color: lightgreen;
 font-family: helvetica;
}